<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/view">View </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/add">Add <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
    </div>
  </nav>
<br/>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <form class="col-5">
            <table class="col-12">
                <tr>
                    <td>Title</td>
                    <td><input name="title" [(ngModel)]="title" class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td>Subtitle</td>
                    <td><input name="subtitle" [(ngModel)]="subtitle" class="form-control" type="text" required></td>
                </tr>
                <tr>
                    <td>Body</td>
                    <td><textarea rows="15" name="body" [(ngModel)]="body" class="form-control" required></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button (click)="addPost()" class="btn btn-primary">Add post</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>